@model CISServer.Controllers.ViewModel
<!---Razor is huge mess, fuck razor--->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#"><i class="icon-th icon-white"
                style="margin-top: 5px;"></i>CIS ADMIN PANEL</a>
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Sweet</a></li>
                <li><a href="#">Home</a></li>
            </ul>

            <ul class="nav pull-right">
                <li class="dropdown pull-right"><a href="#"
                    class="dropdown-toggle" data-toggle="dropdown">Sign-in! <b
                        class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="icon-user"></i>Just kidding</a></li>
                        <li><a href="#"><i class="icon-envelope"></i>there's nothing here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="span12 hero-unit">
        <div class="span4 pull-left">
            <div class="row">
                <table class="table table-hover">
                    <tr>
                        <th colspan="3">
                            <a id="show-more-button" class="btn btn-link btn-large btn-block"><i class="icon-refresh"></i>Show more (@Model.PendingServicesCount)</a>
                        </th>
                    </tr>
                    @{
                var limiter = 0;
                foreach(var pending_service in Model.PendingServices)
                {
                    {
                        if(limiter == 0)
                        {
                            @Html.Raw("<tr class='pending-services hidden'>");
                        }
                    }
                            <td>
                                <div class="service-container" hotspot-id="@pending_service.HotSpotId" service-id="@pending_service.ServiceId">
                                    <img class="img-polaroid" src="http://175proof.com/wp-content/uploads/2010/10/Heineken-Tactile-Can-Front.jpg" style="display: inline; width: 48px; height: 48px" />
                                    <span class="service-data"><small>@string.Format("{0}x", pending_service.Quantity) @pending_service.ServiceName</small></span>
                                    <span class="service-data"><b>@string.Format("{0}$", pending_service.Quantity)</b></span>
                                </div>
                            </td>
                    {
                        if((limiter == 2))
                        {
                            limiter = -1;
                            @Html.Raw("</tr>");
                        }
                    }
                    limiter++;
                }
                        for(int i = limiter; i < 3; i++)
                {
                     @Html.Raw("<td></td>");
                                           if(i == 2)
                     {
                          @Html.Raw("</tr>");
                     }
                }
            }
                </table>

            </div>
        </div>
        <div class="span4 pull-left">
            @foreach(var active_hotspot in Model.ActiveHotspots.ActiveProviderHotspotsAndOrderItems)
            {
                <div class="row hotspot" hotspot-id="@active_hotspot.ProviderHotspotId">
                    <table class="table table-hover">
                        <tr>
                            <th colspan="3">
                                <a class="btn btn-link btn-large btn-block" id="start-button"><i class="icon-tag"></i>hotspot_@active_hotspot.ProviderHotspotId (@string.Format("{0}$",active_hotspot.TotalCost)) <i class="icon-plus"></i></a>
                            </th>
                        </tr>
                        @{
                var iter = 0;
                foreach(var service in active_hotspot.OrderItems)
                {
                    {
                        if(iter == 0)
                        {
                            @Html.Raw("<tr>");
                        }
                    }
                            <td>
                                <div class="static-service-container" service-id="@service.ServiceId">
                                    <img class="img-polaroid" src="http://175proof.com/wp-content/uploads/2010/10/Heineken-Tactile-Can-Front.jpg" style="display: inline; width: 48px; height: 48px" />
                                    <span class="service-data"><small>@string.Format("{0}x", service.Quantity) @service.Name</small></span>
                                    <span class="service-data"><b>@string.Format("{0}$", service.Price)</b></span>
                                </div>
                            </td>
                    {
                        if((iter == 2))
                        {
                            iter = -1;
                            @Html.Raw("</tr>");
                        }
                    }
                    iter++;
                }
                for(int i = iter; i < 3; i++)
                {
                     @Html.Raw("<td></td>");
                                           if(i == 2)
                     {
                          @Html.Raw("</tr>");
                     }
                }
            }
                    </table>
                </div>
            }
        </div>
        <div class="span4 pull-left">
            <div class="row hotspot">
                <!---A static UI prototype with more pictures--->
                <table class="table table-hover">
                    <tr>
                        <th colspan="3">
                            <a class="btn btn-link btn-large btn-block" id="start-button"><i class="icon-tag"></i>Masa 5 (44400$) <i class="icon-plus"></i></a>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <img class="img-polaroid" src="http://www.strategic.ro/wp-content/uploads/Ciuc-Premium-capac-cu-inel.jpg" style="display: inline; width: 48px; height: 48px" />
                            <span class="service-data"><small>31x Heineken</small></span>
                            <span class="service-data"><b>123$</b></span>
                        </td>
                        <td>
                            <img class="img-polaroid" src="http://www.beer100.com/images/beermug.jpg" style="width: 48px; height: 48px" />
                            <span class="service-data"><small>3x Gogosi</small></span>
                            <span class="service-data"><b>44$</b></span>
                        </td>
                        <td>
                            <img class="img-polaroid" src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Glazed-Donut.jpg/250px-Glazed-Donut.jpg" style="width: 48px; height: 48px" />
                            <span class="service-data"><small>3x Gogosi</small></span>
                            <span class="service-data"><b>44$</b></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="img-polaroid" src="http://175proof.com/wp-content/uploads/2010/10/Heineken-Tactile-Can-Front.jpg" style="display: inline; width: 48px; height: 48px" />
                            <span class="service-data"><small>31x Heineken</small></span>
                            <span class="service-data"><b>123$</b></span>
                        </td>
                        <td>
                            <img class="img-polaroid" src="http://www.publispain.com/blogs/cocina/uploads/pina-colada.jpg" style="width: 48px; height: 48px" />
                            <span class="service-data"><small>3x Gogosi</small></span>
                            <span class="service-data"><b>44$</b></span>
                        </td>
                        <td>
                            <img class="img-polaroid" src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Glazed-Donut.jpg/250px-Glazed-Donut.jpg" style="width: 48px; height: 48px" />
                            <span class="service-data"><small>3x Gogosi</small></span>
                            <span class="service-data"><b>44$</b></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="img-polaroid" src="http://www.malts.com/var/plain_site/storage/images/our-whiskies/cragganmore/cragganmore-scotch-whisky-12-year-old/1565-4-eng-GB/Cragganmore-Scotch-Whisky-12-year-old.png" style="display: inline; width: 48px; height: 48px" />
                            <span class="service-data"><small>31x Heineken</small></span>
                            <span class="service-data"><b>123$</b></span>
                        </td>
                        <td>
                            <img class="img-polaroid" src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Glazed-Donut.jpg/250px-Glazed-Donut.jpg" style="width: 48px; height: 48px" />
                            <span class="service-data"><small>3x Gogosi</small></span>
                            <span class="service-data"><b>44$</b></span>
                        </td>
                        <td>
                            <img class="img-polaroid" src="https://d27fcql9yjk2c0.cloudfront.net/assets/3178387/lightbox/Guiness.jpg?1299876871" style="width: 48px; height: 48px" />
                            <span class="service-data"><small>3x Gogosi</small></span>
                            <span class="service-data"><b>44$</b></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
